body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111827;

}

.loader {
  position: absolute;
  top: 50vh;
  left: 42.5%;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}

.error {
  position: absolute;
  top: 50vh;
  left: 42.5%;
  font-size: 1rem;
  font-weight: 600;
  color: #ef4444;
}

.app-container {
  background-color: #111827;
  min-height: 100vh;
  padding: 1rem;
}

.header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gallery-container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.header h1 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.05em;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.product-card {
  background-color: #1f1f1f;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.025);
  box-shadow: 0 4px 15px rgba(1, 248, 252, 0.566);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  text-align: center;
}

.product-info h2 {
  font-size: 1rem;
  color: white;
}

.product-info .category {
  color: #aaa;
  font-size: 0.9rem;

}

.product-info .price {
  font-size: 1.2rem;
  color: #4caf50;
  font-weight: bold;
}

.product-info button {
  position: relative;
  bottom: 0px;
  padding: 2px;
  width: 100%;
  padding: 8px 16px;
  background: linear-gradient(90deg, #ff4c4c, #ff7f40);
  color: white;
  font-size: 0.85rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.product-info button:hover {
  font-size: 0.9rem;
  background: linear-gradient(90deg, #ff7f40, #ff4c4c);
}